<div class="comment_form">
  <%= error_messages_for(@comment) %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email, "Email <span class='tiny_sub_label'>(Needed for <a href='http://gravatar.com/' target='_blank'>Gravatar</a>, not published)</span>".html_safe %>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :url %>
    <%= f.url_field :url %>
  </p>
  <p>
    <%= f.check_box :new_comment_notification %>
    <%= f.label :new_comment_notification, "Notify me when new comments are posted" %>
  </p>
  <%= render :partial => "posts/markdown_examples" %>
  <p>
    <%= f.label :body, :class => "body_label" %>
    <a href="#" id="markdown_link" onclick="return false;">Format using Markdown</a>
    <div class="clear"></div>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= button("Comment") %>
    <%= button("Preview", id: "preview-button") %>
  </p>
</div>
<div id="preview-container" style="display: none;"></div>
