<p><%= @contact_message.name %></p>
<p><%= @contact_message.email %></p>
<p><%= @contact_message.user_agent %></p>
<p><%= @contact_message.subject %></p>
<p><%= @contact_message.phone_number %></p>
<br />
<p><%= @contact_message.message %></p>