<head>
  <title><%= page_title %></title>
  <%= stylesheet_link_tag "application" %>

  <%= csrf_meta_tags %>
  <meta name="description" content="<%= description %>" />
  <meta name="keywords" content="<%= keywords %>" />

  <%= auto_discovery_link_tag(:atom, blog_path(:atom)) %>
  <%= favicon_link_tag %>
</head>
