<div id="navigation">
  <ul>
    <li><%= navigation_link("Blog", root_path, :blog) %></li>
    <li><%= navigation_link("Projects", projects_path, :projects) %></li>
    <li><%= navigation_link("About", about_path, :home) %></li>
    <li><%= navigation_link("Resume", resume_download_path, :resume) %></li>
    <li><%= navigation_link("Contact", contact_path, :contact) %></li>
  </ul>
</div>
