<div class="social_media">
  <%= link_to image_tag("social_media_icons/github.png"), "https://github.com/nick-desteffen", :target => "_blank" %>
  <%= link_to image_tag("social_media_icons/twitter-2.png"), "https://twitter.com/NickDeSteffen", :target => "_blank" %>
  <%= link_to image_tag("social_media_icons/delicious.png"), "https://delicious.com/NiK0laI", :target => "_blank" %>
  <%= link_to image_tag("social_media_icons/linkedin.png"), "http://www.linkedin.com/in/nickdesteffen", :target => "_blank" %>
  <%= link_to image_tag("social_media_icons/stackoverflow.png"), "http://stackoverflow.com/users/295796/nick", :target => "_blank" %>
  <%= link_to image_tag("social_media_icons/google-plus-new-32px.png"), "https://plus.google.com/+NickDeSteffen", :target => "_blank" %>
  <%= link_to image_tag("social_media_icons/rss.png"), blog_path(:atom), :target => "_blank" %>
</div>
