<% content_for :page_title, "Projects" %>
<h1>Projects</h1>

<h3>Professional</h3>
<div><%= link_to "CarePages", "https://www.carepages.com", target: "_blank" %></div>
<div><%= link_to "My Health and Money", "https://www.myhealthandmoney.com", target: "_blank" %></div>
<div><%= link_to "WisePatient", wisepatient_path, rel: "nofollow" %></div>
<div><%#= link_to "Splash Surveys", splash_surveys_path, rel: "nofollow" %></div>
<div><%= link_to "BenchPrep", "https://benchprep.com", target: "_blank" %></div>

<h3>Personal</h3>
<div><%= link_to "Risk2210.net", "https://risk2210.net", target: "_blank" %></div>
<div><%= link_to "AstronomyPics.net", "http://astronomypics.net", target: "_blank" %></div>
<div><%= link_to "mongoid_scribe", "https://github.com/nick-desteffen/mongoid-scribe", target: "_blank" %></div>

<h3>Open Source Contributions</h3>
<div><%= link_to "Typhoeus", "https://github.com/typhoeus/typhoeus", target: "_blank" %></div>
<div><%= link_to "twitter-bootstrap-rails gem", "https://github.com/seyhunak/twitter-bootstrap-rails", target: "_blank" %></div>
<div><%= link_to "Redis::Sentinel gem", "https://github.com/flyerhzm/redis-sentinel", target: "_blank" %></div>
<div><%= link_to "Luca", "https://github.com/datapimp/luca", target: "_blank" %></div>
<div><%= link_to "MongoDB Logger", "https://github.com/le0pard/mongodb_logger", target: "_blank" %></div>
