<h1>Projects</h1>

<h3>Professional</h3>
<div><%= link_to "CarePages", "http://www.carepages.com", :target => "_blank" %></div>
<div><%= link_to "My Health and Money", "https://www.myhealthandmoney.com", :target => "_blank" %></div>
<div><%= link_to "WisePatient", wisepatient_path %></div>
<div><%#= link_to "Splash Surveys", splash_surveys_path %></div>
<div><%= link_to "BenchPrep", "https://benchprep.com", :target => "_blank" %></div>

<h3>Personal</h3>
<div><%= link_to "Risk2210.net", "http://risk2210.net", :target => "_blank" %></div>
<div><%= link_to "AstronomyPics.net", "http://astronomypics.net", :target => "_blank" %></div>
<div><%= link_to "mongoid_scribe", "https://github.com/nick-desteffen/mongoid-scribe", :target => "_blank" %></div>
