<div class="blog_post">
  <h1><%= link_to @post.title, blog_post_path(@post) %></h1>
  <time><%= format_date(@post.published_at) %></time>
  <p><%= @post.body.html_safe %></p>
  <div>
    <%= render :partial => "shared/facebook_like_button" %>
    <%= render :partial => "shared/twitter_tweet_button" %>
    <%= render :partial => "shared/google_plus_one_button" %>
  </div>
  <h2>Comments</h2>
  <% if @comments.size > 0 %>
    <%= render :partial => "posts/comment", :collection => @comments %>
  <% else %>
    <p>There are no comments.  Be the first to post!</p>
  <% end %>
  <%= render :partial => "posts/comment_form", :locals => {:post => @post} %>
</div>

<% content_for :sidebar do %>
  <div class="related_links">
    <h3>Related Links</h3>
    <% @post.related_links.each do |link| %>
      <p><%= link_to link.title, link.url, :target => "_blank" %></p>
    <% end %>
  </div>
  <div class="tags">
    <h3>Tags</h3>
    <%= @post.tags_joined %>
  </div>
<% end %>