<!DOCTYPE html>
  <html>
  <%= render :partial => "shared/head" %>
  <body>
    <div id="container">
      <%= render :partial => "shared/flash_messages" %>
      <div id="title">
        <h1>Nick DeSteffen</h1>
      </div>
      <div id="navigation">
        <ul>
          <li><%= link_to "Home", root_path, :class => navigation_class(:home) %></li>
          <li><%= link_to "Blog", blog_path, :class => navigation_class(:blog) %></li>
          <li><%= link_to "Projects", "#", :class => navigation_class(:projects) %></li>
          <li><%= link_to "Contact", contact_path, :class => navigation_class(:contact) %></li>
        </ul>
      </div>
      <div id="main">
        <div class="left-col">
          <%= yield %>
        </div>
        <div class="right-col">
          <%= content_for :sidebar %>
        </div>
      </div>
      <div id="footer">
        <div class="hr"></div>
        <p>Copyright &copy; <%= Time.now.year %> | Nick DeSteffen</p>
      </div>
    </div>
  </body>
</html>
