<!DOCTYPE html>
<html>
  <%= render partial: "shared/head" %>
  <body>
    <div id="header">
      <div id="title">
        <%= link_to root_url, class: "headline" do %>
          <h1>Nick DeSteffen</h1>
          <h2>Chicago Developer</h2>
        <% end %>
      </div>
      <%= render partial: "shared/navigation" %>
    </div>
    <div class="clear"></div>
    <div id="container">
      <%= render partial: "shared/social_media" %>
      <%= flash_messages %>
      <div id="main">
        <%= yield %>
      </div>
    </div>
    <%= render partial: "shared/tail" %>
  </body>
</html>
